# Data Science Tools and Ecosystem

 In this notebook, Data Science Tools and Ecosystem are summerized.

**Objectives:**
- List popular languages for Data Science
- List popular libraries for Data Science
- List popular tools for Data Science

Some of the popular lanuages that Data Scientists use are:

1. Python
2. R
3. SQL

Some of commonly used libraries used by Data Scientists include:

1. Pandas
2. Numpy
3. Matplotlib

|Data Science Tools|
|-------|
|Jupyter Notebook|
|RStudio|
|Spyder|

### Below are few examples of evaluating arithmetic expression in Python

This is a simple arithmetic expression to multiply then add integers.

In [2]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [3]:
200/60

3.3333333333333335

## Author
Name - Pratik Maheta